<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FileInfoExtractor.Properties.LastInfo" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <FileInfoExtractor.Properties.LastInfo>
            <setting name="strSrcPath" serializeAs="String">
                <value />
            </setting>
            <setting name="strDstPath" serializeAs="String">
                <value />
            </setting>
            <setting name="strDstFile" serializeAs="String">
                <value />
            </setting>
            <setting name="bSrcTypeExe" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="strExeNumberBase" serializeAs="String">
                <value />
            </setting>
            <setting name="strLibNumberBase" serializeAs="String">
                <value />
            </setting>
            <setting name="bRstTypeHwp" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="strVersion" serializeAs="String">
                <value />
            </setting>
            <setting name="bResultAutoRun" serializeAs="String">
                <value>True</value>
            </setting>
        </FileInfoExtractor.Properties.LastInfo>
    </userSettings>
</configuration>